# nbscuid-built files
**/computed_notebooks/**
**/cache_data_path/**
**/cache_metadata_path/**
**/temp_data/**
**/ncfiles/**
**/test_product.txt
nbscuid.egg-info
**/.ipynb_checkpoints
**/__pycache__

# Text editor temp files
**/*.swp

externals/
